{% extends 'base.html' %}
{% load account socialaccount %}

{% block title %}
Вхід
{% endblock %}

{% block content %}
<div class="content-box-account">
    <h1>Вхід</h1>
    <hr>

    <div class="signup">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="pretty-button" type="submit">Вхід</button>
            <a style="margin-left: 170px;" href="{% url 'account_reset_password' %}">Забули пароль?</a>
        </form>

        {% get_providers as socialaccount_providers %}
        <div class="socialaccount_ballot">
            <p>Або за допомогою сторонніх сервісів:</p>
            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}

        <script>
            $('#id_remember').parent().remove();
            $('.google').text('').append('<img src="https://djangogramm-bucket-1.s3.eu-central-1.amazonaws.com/default_photos/google.png" width="40" height="40">');
            $('.github').text('').append('<img src="https://djangogramm-bucket-1.s3.eu-central-1.amazonaws.com/default_photos/github.png" width="40" height="40">');
        </script>
    </div>

    <br><br><p style="display: inline;">Ще не маєте акаунта?</p>
    <button class="pretty-button" style="margin-left: 10px;" onclick="window.location.href = '{% url 'account_signup' %}';">Реєстрація</button>
</div>
{% endblock %}
